---
import Layout from '../../layouts/Layout.astro';
import { bees } from '../../../public/beesDeprecated.astro';
import '../../styles/yellowBtn.css'
import '../../styles/global.css'
import '../../styles/modal.css'
import CerrarSesion from '../../components/cerrarsesion';

---

<Layout title="Welcome to Splithive">
    <main>
        <CerrarSesion client:only></CerrarSesion>
        <div class="container">
            <div style="
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 60%;
            margin-bottom: 1em;">
                <h1 class="text-gradient">Bees</h1> 
                <button id="newBeeBtn" class="yellowBtn">New Bee</button>
            </div>
            <div class="contact-list">
                <!-- {contactos.map((contacto, index) => (
                    <a href={`/${contacto.usuario}`} class="contact-card" key={index}>
                        <p>{contacto.nombre}</p>
                    </a>
                ))} -->
            </div>
        </div>

        <div id="modal" class="modal" style="display: none;">
            <div class="modal-content">
                <span class="close" id="closeModal">&times;</span>
                <h2>Add bee</h2>
                <form id="newBeeFormulario">
                    <label for="usuarioBee">User:</label>
                    <input type="text" id="usuarioBee" name="usuarioBee" minlength="2" required><br><br>
                    <!-- <button type="button" id="agregarDeudorBtn">+</button><br><br> -->
                    <div style="margin-top: 10px;">
                        <button class="submitBtn" type="submit">Add to hive</button>
                        <button class="cancelarBtn" type=""id="cerrarFormBtn" type="button">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </main>

    <script>
        import { bees } from "../../../public/beesDeprecated.astro";
        import { calcularDeudasAtravesDeGrupos } from '../../utils/logicaNegocio';
        import { getContactos, getUsuarios, getGrupos, getGastos, getHives, getCurrentUser } from "../../utils/utilities"

        var currentUser = getCurrentUser();
        var contactos = getContactos()[currentUser];
        var usuarios = getUsuarios();

        var grupos = getGrupos();
        var gastos = getGastos();

        contactos.forEach((contacto, index) => {
            var card = document.createElement('a');
            card.href = `/${contacto.usuario}`;
            card.className = 'contact-card';

            var deudaAcumulada = calcularDeudasAtravesDeGrupos(grupos,contacto, currentUser);
            var color = deudaAcumulada < 0 ? 'red' : 'green';

            if (deudaAcumulada < 0){
                var deudaText = ` Le debo : <span style="color: ${color};">${deudaAcumulada}</span>`;
            }

            else if (deudaAcumulada > 0){
                var deudaText = ` Me debe: <span style="color: ${color};">${deudaAcumulada}</span>`;
            }
            else{
                var deudaText = ""
            }

            card.innerHTML = `<p>${usuarios[contacto].nombre}${deudaText}</p>`;
            document.querySelector('.contact-list').appendChild(card);
        });

        var modal = document.getElementById('modal');
        var btnAbrirModal = document.getElementById('newBeeBtn');
        var spanCerrar = document.getElementById('closeModal');

        btnAbrirModal.onclick = function() {
            modal.style.display = 'block';
        };

        spanCerrar.onclick = function() {
            modal.style.display = 'none';
        };

        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = 'none';
            }
        };


        document.getElementById('cerrarFormBtn').addEventListener('click', function() {
            document.getElementById('modal').style.display = 'none';
        });

        document.getElementById('newBeeFormulario').addEventListener('submit', function(event) {
                event.preventDefault(); 
                var usuarios = getUsuarios();
                var user = document.getElementById('usuarioBee').value;
                var nombre =0;
                var existe = false;
                for (const key in usuarios){
                    if (usuarios.hasOwnProperty(key)){
                        if (usuarios[key].usuario == user){
                            existe = true
                            nombre = key
                            break
                        }
                    }
                }
                if (!existe) {
                    alert('El usuario no existe');
                    return;
                }
                var esContacto = false;
                
                contactos.forEach((contacto) => {
                    if (contacto == nombre) {
                        esContacto = true;
                    }
                });
                if (esContacto) {
                    alert('El usuario ya es un contacto');
                    return;
                }

                contactos.push(Number(nombre))
                var lista_contactos = getContactos();
                lista_contactos[currentUser] = contactos
                sessionStorage.setItem('contactos', JSON.stringify(lista_contactos));

                modal.style.display = 'none'; 
                document.getElementById('newBeeFormulario').reset();
                location.reload();
            });
    </script>

    <style is:global>
    
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }
    
        .contact-list {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            gap: 1rem;
            margin-top: 2rem;
        }
    
        .contact-card {
            background-color: white;
            border-radius: 8px;
            padding: 1rem;
            text-align: center;
            color: black;
            text-decoration: none;
            transition: transform 0.3s ease-in-out;
        }
    
        .contact-card:hover {
            transform: translateY(-5px);
        }

        .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.5);
        }

        .modal-content {
            background-color: #fefefe;
            margin: 10% auto;
            padding: 20px;
            border-radius: 8px;
            width: 80%;
            max-width: 500px;
        }

        .text-gradient {
            font-size: 4rem;
            font-weight: 700;
            line-height: 1;
            text-align: center;
            background-image: linear-gradient(to right, #f12711, #f5af19);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

    </style>
</Layout>